$color: orange;
$backgroundcolor: black;
.profile-view{
    color: $color;
    background-color: $backgroundcolor
 }
 .form-profile{
    color: $color;
    background-color: #919191 !important; 
    justify-content: center;
    align-items: center;
 }
.li-element {
   align-items: center;
   align-content: center;
   list-style: none;
}