$active-color:black;
$active-backgroung:orange;
.back-button {
    padding: 4px 12px 4px 12px;
    color: $active-color;
    background-color: $active-backgroung;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px; 
    cursor: "pointer"
  }
