$color: orange;
$backgroundcolor: black;
 

.movies-couch{
    color: $color;
    background-color: $backgroundcolor;
}
.main-view{
    color: $color;
    background-color: $backgroundcolor;
    justify-content: center;
}

.movie-view{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.movie-card{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.movie-card-body {
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
}

.login-view{
    color: $color;
    background-color: $backgroundcolor;

}
.Navigation-bar{
    color: $color;
    background-color: $backgroundcolor;
}

.signup-view{
    color: $color;
    background-color: $backgroundcolor;
}
.link_to{
    color: $color;
}

// Importing React Bootstrap utility classes
@import "~bootstrap/scss/bootstrap";