$color: #ffc107;
$backgroundcolor: black;
$theme-colors: (
    "outline-warning":#ffc107,
    );

#root {
    background-color: $backgroundcolor;
}

html, head, body{
    background-color: $backgroundcolor;
    width: 100%;
}

.movies-couch{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
}

.main-view{
    color: $color;
    background-color: $backgroundcolor;
    justify-content: center;
}
.search-bar{
    width:80%;
    font-size: 16px;
    border: 1px solid white;
}

.navbar{
    justify-self: center !important;
    margin-top: 30px !important;
}

.movie-view{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.movie-card{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.movie-card-body {
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
}

.login-view, .signup-view{
    color: $backgroundcolor;
    background-color: $color;
    label {
        color:$backgroundcolor;
    }
}

.Navigation-bar{
    color: $color;
    border-radius: 10px;
    background-color: $backgroundcolor;
}

.favorite-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    justify-content: space-between;

    @media (max-width: 766px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 1440px) {
        gap: 69px;
    }
}


.link_to{
    color: $backgroundcolor;
}


// Importing React Bootstrap utility classes
@import "node_modules/bootstrap/scss/bootstrap.scss";
