$color: #ffc107;
$backgroundcolor: black;
$theme-colors: (
    "outline-warning":#ffc107,
    );

.movies-couch{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
}

.main-view{
    color: $color;
    background-color: $backgroundcolor;
    justify-content: center;
}
.search-bar{
    width:80%;
    font-size: 16px;
    border: 1px solid white;
}

.navbar{
    justify-self: center !important;
    
}

.movie-view{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.movie-card{
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.movie-card-body {
    color: $color;
    background-color: $backgroundcolor;
    width: 100%;
    height: auto;
}

.login-view{
    color: $color;
    background-color: $backgroundcolor;

}
.Navigation-bar{
    color: $color;
    background-color: $backgroundcolor;
}

.favorite-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 425px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 1440px) {
        gap: 75px;
    }
}

.signup-view{
    color: $color;
    background-color: $backgroundcolor;
}

.link_to{
    color: $color;
}


// Importing React Bootstrap utility classes
@import "node_modules/bootstrap/scss/bootstrap.scss";
